<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" *ngIf="!isUserLoggedIn">Please Log In!</a>
        <a class="nav-item nav-link" *ngIf="isUserLoggedIn"(click)="logout()">Logout</a>
        <a class="nav-item nav-link" *ngIf="isUserLoggedIn">Name: {{ currentUser.firstName }}</a>
        <a class="nav-item nav-link" *ngIf="isUserLoggedIn">Role(s): {{ currentUser.roles }}</a>
        <a class="nav-item nav-link" *ngIf="isUserLoggedIn">Previous Login: {{ previousLoginDate | date:"MM-dd-yyyy hh:mm:ss"}}</a>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>