.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55px;
    bottom: 40px;
    left: 10px;
    right: 10px;
    margin-left: 5px;
}

.sibebar-content {
    width: 300px;
    position: fixed;
    margin-top: 10px;
    top: 55px;
    left:15px;
}

.content {
    position: relative;
    top: 10px;
    padding: 1%;
    background-color: rgb(200, 240, 200);
    bottom: 40px;
    left: 2,5px;
    margin-left: 150px;

}